.shimmer-card{
  width: 215px;
  padding: 5px;
  border: 2px;
  margin: 5px;
  border-radius: 20px;
  min-height: 350px;
  max-height: 350px;
  justify-content: right;
  background-color: lightgray;
}
.restaurent-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 8px;
}