.card{
  width: 215px;
  padding: 5px;
  border: 2px;
  margin: 5px;
  border-radius: 20px;
  min-height: 350px;
  max-height: 350px;
  justify-content: right;
}
.card:hover{
  border: 1px solid black;
  background-color: beige;
}
.card > img {
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
  max-height: 250px;
}
a{
  text-decoration: none;
  color: black;
}
.name{
  font-size: 18px;
  font-weight: 700;
  margin: 2px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.cuisine{
  font-size: 16px;
  display: inline-block;
  width: 100%;
  margin: 1px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.rating{
  font-size: 16px;
  margin: 1px;
}