.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.904);
}
.navItems{
  display: flex;
}
.navItems > ul {
  list-style-type: none;
  display: flex;
  color: white;
}

.navItems > ul > li {
  padding: 10px;
}

.navItems > ul > li:hover {
  font-weight:700;
}


.navItems > ul > li > a{
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navItems > button{
  background-color: rgba(0, 0, 0, 0.904);
  color: white;
  width: 60px;
  border: none;
}